// Place all the styles related to the Phrases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
  padding: 10px;
  margin: 10px;
}

.chinese_translations {
  display: none;
}

.translation_text {
  font-size: xx-large;
  margin-left: 33px;
}

.attempt {
  display: inline;
}

.status_icon {
  display: none;
}
